.nav_button {
  display: none;
  position: relative;
  width: 25px;
  height: 3px;
  background: black;
}
.nav_button::before, .nav_button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  display: none;
}
.nav_button::before {
  transform: translateY(-230%);
}
.nav_button::after {
  transform: translateY(230%);
}

 @media (max-width:641px) {
  .header__title .main__subtitle {
    font-size: 32px;
  }
  p {
    font-size: 20px;
  }
  .nav_button,.nav_button::before, .nav_button::after  
  {
    display: block;
     }
     .menu__links {
       display: none;
     }
   }

p  {
  background: #cdcdcd;
  border: 2px outset grey;
}
* {
   text-align: center;
   color: #666666;
   }

p[title] {
  color: black;
  }
  h1,h2,h3 {
    border-bottom-width: 2px;
    border-bottom-style: ridge;
    }
 
